.idea
venv/*
.venv/*
__pycache__/cosmos_api.cpython-39.pyc
.env
__pycache__/cosmos_api.cpython-38.pyc
config.ini
config copy.ini
__pycache__/cosmos_api.cpython-310.pyc
transactions.csv
__pycache__/cosmos_api.cpython-310.pyc
__pycache__/cosmos_api.cpython-310.pyc
bin/evmosd
